@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&family=Source+Sans+3:ital@0;1&display=swap');

* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

/*Variable for Colors*/
*{
    --main_bg_color: #353535;
    --nav_bar_color: #3c6e71;
    --less_gray: #d9d9d9;
    --darker_blue: #284b63;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* This is for the navbar on the top*/
.nav_bar{
    position: relative;
    background-color: var(--main_bg_color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

.nav_bar header{
    display: flex;
    align-items: center;
}

.nav_bar a{
    font-family: "Source Code Pro", 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 18px;
    color: var(--less_gray);
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

.nav_bar a:hover{
    opacity: 1;
}

.happy_face{
    height: 100px;
    width: 150px;
}

.happy_face:hover{
    cursor: pointer;
}

.header_nav{
    list-style: none;
}

.header_nav li{
    display: inline-flex;
    padding: 0 15px;
}

.divider{
    width: 100%;
    border: solid var(--less_gray) 0.5px;
}

/*Main Stylings*/

main{
    background-color: var(--main_bg_color);
    color: var(--less_gray);
    flex: 1;
    font-family: "Source Sans 3", 'Times New Roman', Times, serif;
    padding: 20px;
    padding-left: 15%;
    padding-right: 15%;
    display: flex;
    justify-content: space-between;
}

.about_text{
    display: block;
}

.about_me{
    font-size: 3em;
}

.clown_face{
    padding: 2em;
    padding-top: 4em;
    height: 30em;
    width: auto;
}

.headings{
    font-size: 2em;
    margin-top: 0.1em;  
    margin-bottom: 0.1em;
}

main p{
    font-size: 20px;
}

@media screen and (min-width: 320px){
    .all_contact{
        display: flex;
        flex-direction: column;
    }    

    .job_stuff{
        display: flex;
        flex-direction: column;
    }

    .all_contact a{
        margin-top: 15px;
    }

    main{
        flex-direction: column;
    }
}

@media screen and (min-width: 500px){
    .all_contact{
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        align-items: center;
    }    

    .job_stuff{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .all_contact a{
        margin-top: 0;
        margin-right: 1em;
    }

    main{
        flex-direction: row;
    }
}

.job_stuff a{
    font-family: 'Source Code Pro','Times New Roman', Times, serif;
    font-size: 1.8em;
    text-decoration: none;
    color: var(--less_gray);
    border-style: solid;
    border-radius: 10px;
    padding: 15px;
    transition: all 0.3s ease;
}

.job_stuff a:hover{
    background-color: var(--less_gray);
    color: var(--main_bg_color);
}

.linkedin{
    height: 50px;
    filter: invert(1);
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

.linkedin:hover{
    opacity: 1;
}


/* Footer */
footer{
    padding-top: 1em;
    width: 100%;
    background-color: var(--nav_bar_color);
    text-align: center;
    display: flex;
    justify-content: center;
}

.center_container{
    display: block;
}

.footer_links{
    display: flex;
    justify-content: center;
}
.footer_links a{
    padding: 20px;
}

.footer_links .github{
    height: 30px;
    margin-top: 20%;
    filter: invert(1);
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

.github:hover{
    opacity: 1;
}

.footer_tech{
    color: var(--less_gray);
    font-family: "Source Sans 3";
    padding: 0px 20px 20px 20px;
}
