@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&family=Source+Sans+3:ital@0;1&display=swap');

* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

/*Variable for Colors*/
*{
    --main_bg_color: #353535;
    --nav_bar_color: #3c6e71;
    --less_gray: #d9d9d9;
    --darker_blue: #284b63;
    --code_bg: #282828;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--main_bg_color);
}

/* This is for the navbar on the top*/
.nav_bar{
    position: relative;
    background-color: var(--main_bg_color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

.nav_bar header{
    display: flex;
    align-items: center;
}

.nav_bar a{
    font-family: "Source Code Pro", 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 18px;
    color: var(--less_gray);
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

.nav_bar a:hover{
    opacity: 1;
}

.happy_face{
    height: 100px;
    width: 150px;
}

.happy_face:hover{
    cursor: pointer;
}

.header_nav{
    list-style: none;
}

.header_nav li{
    display: inline-flex;
    padding: 0 15px;
}

.divider{
    width: 100%;
    border: solid var(--less_gray) 0.5px;
}
/* Blogging */
main{
    background-color: var(--main_bg_color);
    color: var(--less_gray);
    flex: 1;
    font-family: "Source Sans 3", 'Times New Roman', Times, serif;
    font-size: 16px;
    padding: 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    word-wrap: break-word;
}

main h1{
    font-size: 2.5em;
}

main h2{
    font-size: 1.8em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

main h3{
    font-size: 1.3em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

main p{
    font-size: 20px;
    line-height: 1.5em;
}

main a{
    color: var(--less_gray);
}

main .code_block{
    background-color: var(--code_bg);
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border: solid;
    border-color: var(--less_gray);
    border-width: 1px;
    border-radius: 5px;
    padding: 10px;
}
main code{
    font-family: "Source Code Pro";
}

.top_img{
    display: flex;
    justify-content: center;
}

.top_img img{
    max-width: 60%;
}


/* Footer */
footer{
    padding-top: 1em;
    width: 100%;
    background-color: var(--nav_bar_color);
    text-align: center;
    display: flex;
    justify-content: center;
}

.center_container{
    display: block;
}

.footer_links{
    display: flex;
    justify-content: center;
}
.footer_links a{
    padding: 20px;
}

.footer_links .linkedin{
    height: 30px;
    margin-top: 20%;
    filter: invert(1);
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

.linkedin:hover{
    opacity: 1;
}

.footer_links .github{
    height: 30px;
    margin-top: 20%;
    filter: invert(1);
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

.github:hover{
    opacity: 1;
}

.footer_tech{
    color: var(--less_gray);
    font-family: "Source Sans 3";
    padding: 0px 20px 20px 20px;
}